<nav class="light-blue lighten-1" role="navigation">
<div class="nav-wrapper container">
    <a class="brand-logo" id="logo-container" href="/"><img class="responsive-img" width="500" src="/logo-uem.svg"></a>
    <ul class="right">
        <li><a href="/report.csv">Export</a></li>
    </ul>
</div>
</nav>
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br>
    <h3 class="header center orange-text">Downtime Report</h3>
    <h6 class="header center black-text">
      <%= @from_object.strftime("%m/%d/%Y %k:%M") %>
      <span style='font-size:x-small; font-weight:lighter'> to </span>
      <%= @to_object.strftime("%m/%d/%Y %k:%M") %>
    </h6>
    <br>
    <p>Facility Name: University of Texas - Austin</p>
    <p>Source: Unit 10</p>
    <p>Parameter: Inlet NOx CEMS (ppm)</p>
    <p>Location: Turbine #10</p>
    <table>
      <thead>
        <tr>
          <th style="text-align:center">Incident</th>
          <th style="text-align:center">Start</th>
          <th style="text-align:center">Stop</th>
          <% @columns_human.each do |column_human| %>
            <th class="tooltip" style="text-align:center">
              <%= column_human[0] %>
              <span class="tooltiptext" >
                <%= column_human[1] %>
              </span>
            </th>
          <% end %>
          <th style="text-align:center">Duration <span style="font-weight: normal; " ><br>(hr)</span></th>
        </tr>
      </thead>
      <tbody><% 
        first_row = true
        incident_i = 1
        @aggregated_records.each do |record| %>
          <tr>
            <td style="text-align:center"><%= incident_i %></td>
            <td style="text-align:center"><%= record["when_previous"].strftime("%m/%d/%Y %k:%M") %></td>
            <td style="text-align:center"><%= record["when_"].strftime("%m/%d/%Y %k:%M") %></td> <% 
            @columns_human.each do |column_human|
              if column_human[1].empty? %>
                <td style="text-align:center">(?)</td> <% 
              else
                value = record[column_human[1]]
                if value.class == Float
                  value = sprintf('%05.2f', value)
                end %>
                <td style="text-align:center"><%= value %></td> <% 
              end
            end %>
            <td style="text-align:center"><%= (record["duration"]/60).round(1) %></td>
          </tr> <% 
          incident_i = incident_i + 1
        end %>
      </tbody>
    </table>
  </div>
</div>