<%= form_with(model: parm) do |form| %>
  <% if parm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(parm.errors.count, "error") %> prohibited this parm from being saved:</h2>

      <ul>
        <% parm.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
