
<nav class="light-blue lighten-1" role="navigation">
<div class="nav-wrapper container">
    <a class="brand-logo" id="logo-container" href="/"><img class="responsive-img" width="500" src="logo-uem.svg"></a>
    <ul class="right hide-on-med-and-down">
        <li><a href="https://utilities.utexas.edu/">UEM Intranet</a></li>
    </ul>
</div>
</nav>
<div class="section no-pad-bot" id="index-banner">
	<div class="container"></div>
	<h3 class="header center orange-text">CEMS Reports</h3><br>
	<div class="flex-container">
	    <div style="text-align: center;"><a href="minutelies"><i class="material-icons medium">assignment</i><div>Minutely Averages</div></a></div>
	    <div style="text-align: center;"><a href="hourlies"><i class="material-icons medium">assignment</i><div>Hourly Averages</div></a></div>
	    <div style="text-align: center;"><a href="dailies"><i class="material-icons medium">assignment</i><div>Daily Averages</div></a></div>
	    <div style="text-align: center;"><a href="anyparms"><i class="material-icons medium">assignment</i><div>Any Time Range Averages</div></a></div>
	    <div style="text-align: center;"><a href="uptimes"><i class="material-icons medium">assignment</i><div>Up Time</div></a></div>
	    <div style="text-align: center;"><a href="downtimes"><i class="material-icons medium">assignment</i><div>Downtimes</div></a></div>
	    <div style="text-align: center;"><a href="calevents"><i class="material-icons medium">assignment</i><div>Calibration Events</div></a></div>
	    <div style="text-align: center;"><a href="emissions"><i class="material-icons medium">assignment</i><div>Emissions Hourly</div></a></div>
	    <div style="text-align: center;"><a href="emissiondays"><i class="material-icons medium">assignment</i><div>Emissions Daily</div></a></div>
	    <div style="text-align: center;"><a href="emissionmonths"><i class="material-icons medium">assignment</i><div>Emissions Monthly</div></a></div>
	</div>
</div>