<%= form_with(model: minutely) do |form| %>
  <% if minutely.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(minutely.errors.count, "error") %> prohibited this minutely from being saved:</h2>

      <ul>
        <% minutely.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :from %>
    <%= form.date_select :from %>
  </div>

  <div class="field">
    <%= form.label :to %>
    <%= form.date_select :to %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
