<%= form_with(model: monthly) do |form| %>
  <% if monthly.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(monthly.errors.count, "error") %> prohibited this monthly from being saved:</h2>

      <ul>
        <% monthly.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
