<%= form_with(model: multiple) do |form| %>
  <% if multiple.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(multiple.errors.count, "error") %> prohibited this multiple from being saved:</h2>

      <ul>
        <% multiple.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
