<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
        <a class="brand-logo" id="logo-container" href="/"><img class="responsive-img" width="500" src="/logo-uem.svg"></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="https://utilities.utexas.edu/">UEM Intranet</a></li>
        </ul>
    </div>
</nav>
<div class="section no-pad-bot" id="index-banner">
    <div class="container"><br>
        <h3 class="header center orange-text">Start, Stop, Interval</h3>
        <form action="/multiples/show" method="get">
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <h5>Start</h5>
                        <div class="input-field col s12">
                            <label for="autocomplete-input0">Date</label>
                            <input class="autocomplete input-field datepicker" type="text" id="autocomplete-input0" name="from" value="Dec 1, 2021">
                        </div>
                        <div class="input-field col s12">
                            <label for="autocomplete-input0t">Time</label>
                            <input type="text" class="timepicker" id="autocomplete-input0t" name="fromt" value="00:00 AM">
                        </div>
                        <h5>Stop</h5>
                        <div class="input-field col s12">
                            <label for="autocomplete-input1">Date</label>
                            <input class="autocomplete input-field datepicker" type="text" id="autocomplete-input1" name="to" value="Dec 3, 2021">
                        </div>
                        <div class="input-field col s12">
                            <label for="autocomplete-input1t">Time</label>
                            <input type="text" class="timepicker" id="autocomplete-input1t" name="tot" value="00:00 AM">
                        </div>
                        <h5>Interval (in secs)</h5>
                        <div class="input-field col s12">
                            <input class="autocomplete input-field" type="text" id="autocomplete-input2" name="interval" value="60">
                        </div>
                        <div class="progress">
                            <div id="progress" class="indeterminate" style="width: 0%; display:none"></div>
                        </div>
                        <div class="input-field col s12 center">
                            <input id="submit_button" class="btn-large waves-effect waves-light orange" type="submit" id="download-button" value="Go">
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <br><br></div>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>
    <script src="js/range_script.js"></script>
</div>