<nav class="light-blue lighten-1" role="navigation">
<div class="nav-wrapper container">
    <a class="brand-logo" id="logo-container" href="/"><img class="responsive-img" width="500" src="/logo-uem.svg"></a>
    <ul class="right">
        <li><a href="/report.csv">Export</a></li>
    </ul>
</div>
</nav>
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br>
    <h3 class="header center orange-text">Calibration Events</h3>
    <h6 class="header center black-text">
      <%= @from_object.strftime("%m/%d/%Y %k:%M") %>
      <span style='font-size:x-small; font-weight:lighter'> to </span>
      <%= @to_object.strftime("%m/%d/%Y %k:%M") %>
    </h6>
    <br>
    <p>Facility Name: University of Texas - Austin</p>
    <p>Source: Unit 10</p>
    <p>Location: Turbine #10</p>
    <br>
    <table>
      <thead>
        <tr style="border-bottom:none; line-height:1px; ">
          <th style="text-align:center; padding-top:5px; ">when</th>
          <th style="text-align:center; padding-top:5px; ">analyzer</th>
          <th style="text-align:center; padding-top:5px; ">type</th>
          <th style="text-align:center; padding-top:5px; ">target</th>
          <th style="text-align:center; padding-top:5px; ">actual</th>
          <th style="text-align:center; padding-top:5px; ">drift</th>
          <th style="text-align:center; padding-top:5px; ">p60</th>
          <th style="text-align:center; padding-top:5px; ">5-day count</th>
          <th style="text-align:center; padding-top:5px; ">span</th>
        </tr>
      </thead>
      <tbody> <% 
        @report_records.each do |record| %>
          <tr style="<%= "border-bottom:none; " if record[2] == "Zero" %>"> <%
            record.each do |column| %> 
              <td style="text-align:center; <%= "padding-bottom:50px; " if record[2] == "Span" %>"><%= column %></td><%
            end %>
          </tr> <% 
        end %>
      </tbody>
    </table>
  </div>