<%= form_with(model: quarterhourly) do |form| %>
  <% if quarterhourly.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quarterhourly.errors.count, "error") %> prohibited this quarterhourly from being saved:</h2>

      <ul>
        <% quarterhourly.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
