<%= form_with(model: range) do |form| %>
  <% if range.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(range.errors.count, "error") %> prohibited this range from being saved:</h2>

      <ul>
        <% range.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :from %>
    <%= form.date_select :from %>
  </div>

  <div class="field">
    <%= form.label :to %>
    <%= form.date_select :to %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
