<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
        <a class="brand-logo" id="logo-container" href="/logo-uem.svg"><img class="responsive-img" width="500" src="logo-uem.svg"></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="https://utilities.utexas.edu/">UEM Intranet</a></li>
        </ul>
        <ul class="sidenav" id="nav-mobile">
            <li><a href="https://utilities.utexas.edu/">Navbar Link</a></li>
        </ul><a class="sidenav-trigger" href="#" data-target="nav-mobile"><i class="material-icons">menu</i></a></div>
</nav>
<ul class="sidenav" id="slide-out">
    <li>
        <div class="user-view"></div><a>href="#user"<i class="medium material-icons">assessment</i></a><a href="#name"><span class="white-text name">John Doe</span></a><a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a></li>
    <li><a href="#!">Daily<i class="material-icons">whatshot</i></a></li>
    <li><a href="#!">Hourly<i class="material-icons">whatshot</i></a></li>
    <li><a href="#!">Minute-ly<i class="material-icons">whatshot</i></a></li>
    <li><a href="#!">Range<i class="material-icons">whatshot</i></a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
</ul>
<div class="section no-pad-bot" id="index-banner">
    <div class="container"><br>
        <h3 class="header center orange-text">Range</h3>
        <form action="/ranges/new" method="get">
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="input-field col s12"><label for="autocomplete-input0">Start Date</label><input class="autocomplete input-field datepicker" type="text" id="autocomplete-input0" name="from"></div>
                        <div class="input-field col s12"><label for="autocomplete-input1">Stop Date</label><input class="autocomplete input-field datepicker" type="text" id="autocomplete-input1" name="to"></div>
                        <div class="input-field col s12 center"><input class="btn-large waves-effect waves-light orange" type="submit" id="download-button" value="Go"></div>
                    </div>
                </div>
            </div>
        </form><br><br></div>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>
    <script src="js/range_script.js"></script>
</div>