<p id="notice"><%= notice %></p>

<p>
  <strong>From:</strong>
  <%= @range.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @range.to %>
</p>

<%= link_to 'Edit', edit_range_path(@range) %> |
<%= link_to 'Back', ranges_path %>
