<nav class="light-blue lighten-1" role="navigation">
<div class="nav-wrapper container">
    <a class="brand-logo" id="logo-container" href="/"><img class="responsive-img" width="500" src="/logo-uem.svg"></a>
    <ul class="right">
        <li><a href="/report.csv">Export</a></li>
    </ul>
</div>
</nav>
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br>
    <h3 class="header center orange-text">Up Time</h3>
    <h6 class="header center black-text">
      <%= @from_object.strftime("%m/%d/%Y %k:%M") %>
      <span style='font-size:x-small; font-weight:lighter'> to </span>
      <%= @to_object.strftime("%m/%d/%Y %k:%M") %>
    </h6>
    <br>
    <p>Facility Name: University of Texas - Austin</p>
    <p>Source: Unit 10</p>
    <p>Location: Turbine #10</p>
    <table>
      <thead>
        <tr>
          <th style="text-align:center">Date</th> <% 
          @columns_human.each do |column_human| %>
            <th style="text-align:center">
              <span class="tooltip" >
                <%= column_human[0] %>
                <span class="tooltiptext" >
                  <%= column_human[1] %>
                </span>
              </span><br>
              <span style="font-weight:lighter;"><%= "("+column_human[2]+")" unless column_human[2].nil? %></span>
            </th> <% 
          end %>
          <th style="text-align:center">Reason Codes</th>
        </tr>
      </thead>
      <tbody> <% 
          @records.each do |record| %>
            <tr>
              <td style="text-align:center"><%= record["DateTime"].strftime("%m/%d/%Y")  %></td> <% 
              @columns_human.each do |column_human|
                value = record[column_human[1]]
                if value.class == Float
                  value = sprintf('%05.2f', value)
                end %>
                <td style="text-align:center"><%= value %></td> <%
              end %>
              <td style="text-align:center"><%= record["reasons"].to_a.to_s %></td>
            </tr> <% 
          end %>
      </tbody>
    </table>
  </div>