/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
	padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.flex-container {
	display: flex;
	justify-content: space-around;
}
.h3_fix {
	font-size: 2.92rem; 
	line-height: 110%; 
	margin: 1.9466666667rem 0 1.168rem 0;
}